@import '~@fluentui/react/dist/sass/References.scss';

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'), url(https://lfxstatic.com/libs/Open_Sans/OpenSans.woff) format('woff'), url(https://lfxstatic.com/libs/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}

.lfMaterialIconButton {
  cursor: pointer;
  display: flex;
  height: 24px;
  width: 24px;
  align-items: center;
  border: none;
  background: inherit;
  justify-content: center;
  color: #646464;
}

.lfMaterialIconButton:hover {
  color: #4d4b4b;
}

.iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerIcons {
  display: flex;
  justify-content: flex-end;
}

.marginLeftButton {
  margin-left: 10px;
}

.formGroupRow {
  display: flex;
  align-items: center;
}

a.navLink:hover {
  text-decoration: none;
}

.navLink {
  color: '#0079d6';
}

.dataCellWidth {
  width: 45%;
  min-width: 45%;
  margin-right: 10px;
  vertical-align: middle;
}

.loginButton {
  display: flex;
  justify-content: flex-end;
}

lf-repository-browser {
  height: 500px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 50px);
  min-width: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  min-height: var(--header-min-height, 50px);
  color: #606060;
  background-color: #fafafa;
  /* default is the standard padding, but expose variables
       in case contents have additional padding */
  padding-top: var(--header-padding-top, 13px);
  padding-bottom: var(--header-padding-bottom, 13px);
  padding-left: var(--header-padding-left, 20px);
  padding-right: var(--header-padding-right, 20px);

  /* automatically accommodates for padding */
  box-sizing: border-box;
  height: 60px;
  /* 50px - padding */
  line-height: 24px;
  align-items: center;
}

.contentBox {
  width: 100%;
  user-select: text;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  box-sizing: border-box;
  overflow: auto;
  background-color: #fafafa;
  min-height: 80px;
  /* default is the standard padding, but expose variables
       in case contents have additional padding */
  padding-top: var(--content-padding-top, 20px);
  padding-bottom: var(--content-padding-bottom, 20px);
  padding-left: var(--content-padding-left, 20px);
  padding-right: var(--content-padding-right, 20px);
  max-height: calc(100vh - var(--header-min-height) - var(--footer-min-height));
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: var(--footer-min-height, 50px);
  border-top: 1px solid #e0e0e0;
  background-color: #fafafa;
  /* default is the standard padding, but expose variables
       in case contents have additional padding */
  padding-top: var(--footer-padding-top, 10px);
  padding-bottom: var(--footer-padding-bottom, 10px);
  padding-left: var(--footer-padding-left, 20px);
  padding-right: var(--footer-padding-right, 20px);

  /* automatically accommodates for padding */
  box-sizing: border-box;
  height: 60px;
  /* 50px - padding */
  line-height: 30px;
}

.lfCloseButton {
  cursor: pointer;
  display: flex;
  height: 24px;
  width: 24px;
  align-items: center;
  border: none;
  background: inherit;
  justify-content: center;
  color: #646464;
}

.logoHeader {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.profileTitle {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  width: 500px;
  background-color: #fff;
  overflow: auto;
  max-height: -webkit-fill-available;
  margin: 30px 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

.rowDiv {
  display: flex;
  align-items: center;
}
