@import '~@fluentui/react/dist/sass/References.scss';

.lfMaterialIconButton {
  cursor: pointer;
  display: flex;
  height: 24px;
  width: 24px;
  align-items: center;
  border: none;
  background: inherit;
  justify-content: center;
  color: #646464;
}

.lfMaterialIconButton:hover {
  color: #4d4b4b;
}

.iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerIcons {
  display: flex;
  justify-content: flex-end;
}

.marginLeftButton {
  margin-left: 10px;
}

.formGroupRow {
  display: flex;
  align-items: center;
}

a.navLinkNoUnderline:hover {
  text-decoration: none;
}

table td {
  &.iconTableCell {
    vertical-align: middle;
  }
}
