@import url('https://fonts.googleapis.com/css?family=Roboto:500');

.tooltip {
  margin-left: 10px !important;
}
.tooltip-inner {
  max-width: 500px;
}
div.toolTipCustom {
  text-align: left;
}
.editPageSpinloader {
  padding-bottom: 150px;
  padding-top: 150px;
}
.addPageSpinloader {
  padding-bottom: 150px;
  padding-top: 150px;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
  overflow: auto;
  max-height: -webkit-fill-available;
  margin: 30px 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

.row.CanvasZone {
  display: inherit;
}